

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
    margin-top: 75px;
	padding: 0;
    height: calc(100vh - 75px);
}

.plan-container {
    flex: 1;
    margin-right: 20px auto;
    margin-bottom: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}
  
.plan {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #7f7e90;
    margin: 10px;
    border: 0;
    border-radius: 10px;
}
  
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close-btn {
    position: absolute;
    top: 75px;
    right: 40px;
    float: right;
    color: #b9b5a0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

.close-btn:hover, .close-btn:focus {
    color: #858373;
    text-decoration: none;
    cursor: pointer;
}

.chat-container {
    flex: 3;
    margin-left: 20px;    
    margin-bottom: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    justify-content: space-between; /* Align items with space between */
}

.input-container {
    margin-top: auto; /* Push the input container to the bottom */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-message {
    margin-bottom: 10px;
}

.message-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.user-message {
    background-color: #b9b2a1;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    max-width: 60%;
    word-wrap: break-word;
    align-self: flex-end;
}

.bot-message {
    position: relative;
    background-color: #8c887d;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    max-width: 60%;
    word-wrap: break-word;
    align-self: flex-start;
}

.bookmark-btn {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #b9b5a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 8px;
    margin: 5px;
}

.bot-message:hover .bookmark-btn {
    display: block; /* Show the bookmark button on hover */
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}


.send-btn {
    padding: 8px 20px;
    background-color: #b9b5a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.send-btn:hover {
    background-color: #858373;
}



/* Profile Page */
.profile-container {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
	margin: 0 auto;
    margin-top: 75px;
	padding: 20px;
    height: calc(100vh - 135px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-container h3 {
    margin-left: 50px;
}

.selection-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.course-history {
    display: flex;
    flex-direction: column;
}


/* Style the dropdown button */
.checkbox {
    flex: 1;
    background-color: #fff;
    width: 100px;
    max-height: 200px;
    overflow-y: scroll;
    margin: 5px;
    margin-left: 100px;
}

.checkbox-content label {
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.checkbox-content label:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.checkbox-content label.selected {
    background-color: #a0c4ff; /* Blue highlight color */
    color: white;
}

.selected-courses {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    max-height: 200px;    
    overflow-y: auto;
    margin: 5px;
    margin-right: 100px;
    padding-left: 5px;
}

.selected-courses div.added-course {
    margin: 7px;
}


/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    flex: 1;
    position: relative;
    display: inline-block;
    margin-left: 222px;
}

.dropbtn {
    background-color: #b9b5a0;
    color: #fff;
    padding: 12px 96px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #858373;
}
  

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
 }
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f2f2f2;
}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

.selected-year {
    flex: 2;
    background-color: #fff;
    margin: 10px;
    margin-right: 100px;
    padding-left: 5px;
    font-size: 16px;
}

.save-btn {
    position: absolute;
    bottom: 30px;
    right: 20px;
    padding: 10px 20px;
    background-color: #b9b5a0;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.save-btn:hover {
    background-color: #858373;
}