body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .app-name {
    float: left;
    padding: 10px 25px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbar ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #333;
  }
  /*
  .navbar ul li a:hover {
    background-color: #ddd;
    transition: background-color 0.3s;
  }
  */
  
  /* Clear floats */
  header::after {
    content: "";
    display: table;
    clear: both;
  }