body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: #d9d9d9;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-input {
  margin-bottom: 25px;
}
.form-input input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.login-button {
  width: 50%;
  padding: 10px;
  background-color: #bab2a0;
  color: white;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #98855b;
}
