<!-- base.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Advisor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styleBase.css') }}"
    />
    <!-- To apply css of other pages-->
    {% block styleLogin %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="app-name">AI Advisor</div>
      <nav class="navbar">
        <ul>
          <!-- Hides navigation elements when in Login page-->
          <!-- To unhide, set hideNavigation to False in login endpoint (found in view.py)-->
          {% if not hideNavigation %}
          <li><a href="/admin_page">Administrator</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/myprofile">My Profile</a></li>
          <li><a href="/signout">Sign Out</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% block content %}
    <!--Content of other pages being extended -->
    {% endblock content %}
  </body>
</html>
