{% extends 'base.html' %} {% block styleLogin %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/styleEditCourse.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %} {% block content %}
<div class="edit-course-container">
  <form
    action="/update_course/{{ course.courseID }}"
    method="post"
    class="edit-course-form"
  >
    <div class="form-field">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{ course.title }}" />
    </div>
    <div class="form-field">
      <label for="department">Department:</label>
      <input
        type="text"
        id="department"
        name="department"
        value="{{ course.department }}"
      />
    </div>
    <div class="form-field">
      <label for="description">Description:</label>
      <textarea id="description" name="description">
{{ course.description }}</textarea
      >
    </div>
    <div class="button-container">
      <button type="submit">Update Course</button>
    </div>
  </form>
</div>
{% endblock %}
