{% extends 'base.html' %} {% block styleLogin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHome.css' )}}">
{% endblock %} {% block content %}
    <div class="container" id="container">
        <div class="plan-container" id="plan-container">
            <h2>Saved Plans</h2>
            {% for plans in savedPlans %}
            <button class="plan" id="plan" onclick="openModal('modal{{ loop.index }}')"></button>
            <div id="modal{{ loop.index }}" class="modal" id="modal">
                <div class="modal-content" id="modal-content">
                    <button class="close-btn" onclick="closeModal('modal{{ loop.index }}')">&times;</button>
                    <p>{{ plan.planName }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="chat-container" id="chat-container">
            <h2 id="virtual-advisor">Virtual Advisor</h2>
            <div class="message-container" id="message-container">
            </div>
            <div class="input-container">
                <input type="text" id="prompt" name="prompt" placeholder="Enter prompt...">
                <button class="send-btn" onclick="sendMessage()" disabled>Send</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}