{% extends 'base.html' %} {% block styleLogin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHome.css' )}}">
{% endblock %} {% block content %}
    <div class="container" id="container">
        <div class="plan-container" id="plan-container">
            <h2>Saved Plans</h2>
            {% for plan in savedPlans %}
            <button class="plan" id="plan{{ plan.planID }}" onclick="openModal('modal{{ plan.planID }}')">{{ plan.planName }}</button>
            <div id="modal{{ plan.planID }}" class="modal">
                <div class="modal-content">
                    <button class="close-btn" onclick="closeModal('modal{{ plan.planID }}')">&times;</button>
                    <p>{{ plan.planName }}</p>
                    <p>{{ plan.courses }}</p>
                    <!-- Add more details as needed -->
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="chat-container" id="chat-container">
            <h2 id="virtual-advisor">Virtual Advisor</h2>
            <div class="message-container" id="message-container">
            </div>
            <div class="input-container">
                <input type="text" id="prompt" name="prompt" placeholder="Enter prompt...">
                <button class="send-btn" onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}