{% extends 'base.html' %} {% block styleLogin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleProfile.css' )}}">
{% endblock %} {% block content %}
    <div class="profile-container" id="chat-container">
        <h2>My Profile</h2>
        <div class="selection-container" id="selection-container">
            <h3>Course History (Select all that apply)</h3>
            <div class="checkbox" id="checkbox">
                <div class="checkbox-content">
                    <label><input type="checkbox" value="25" name="CSE 015: Discrete Mathematics"> CSE 015: Discrete Mathematics</label>
                    <label><input type="checkbox" value="26" name="CSE 022: Introduction to Programming"> CSE 022: Introduction to Programming</label>
                    <label><input type="checkbox" value="27" name="CSE 024: Advanced Programming"> CSE 024: Advanced Programming</label>
                    <label><input type="checkbox" value="28" name="CSE 030: Data structures"> CSE 030: Data structures</label>
                    <label><input type="checkbox" value="29" name="CSE 031: Computer Organization and Assembly Language"> CSE 031: Computer Organization and Assembly Language</label>
                    <label><input type="checkbox" value="1" name="CSE 100: Algorithm Design and Analysis"> CSE 100: Algorithm Design and Analysis</label>
                    <label><input type="checkbox" value="2" name="CSE 107: Introduction to Image Processing"> CSE 107: Introduction to Image Processing</label>
                    <label><input type="checkbox" value="3" name="CSE 108: Fullstack Web Development"> CSE 108: Fullstack Web Development</label>
                    <label><input type="checkbox" value="4" name="CSE 111: Database Systems"> CSE 111: Database Systems</label>
                    <label><input type="checkbox" value="5" name="CSE 120: Software Engineering"> CSE 120: Software Engineering</label>
                    <label><input type="checkbox" value="19" name="CSE 135: Introduction to Theory of Computation"> CSE 135: Introduction to Theory of Computation</label>
                    <label><input type="checkbox" value="6" name="CSE 140: Computer Architecture"> CSE 140: Computer Architecture</label>
                    <label><input type="checkbox" value="7" name="CSE 141: Introduction to Compiler Construction"> CSE 141: Introduction to Compiler Construction</label>
                    <label><input type="checkbox" value="8" name="CSE 150: Operating Systems"> CSE 150: Operating Systems</label>
                    <label><input type="checkbox" value="9" name="CSE 155: Introduction to Human-Computer Interaction"> CSE 155: Introduction to Human-Computer Interaction</label>
                    <label><input type="checkbox" value="20" name="CSE 160: Computer Networks"> CSE 160: Computer Networks</label>
                    <label><input type="checkbox" value="10" name="CSE 162: Mobile Computer"> CSE 162: Mobile Computer</label>
                    <label><input type="checkbox" value="11" name="CSE 165: Introduction to Object Oriented Programming"> CSE 165: Introduction to Object Oriented Programming</label>
                    <label><input type="checkbox" value="12" name="CSE 168: Distributed Software Systems"> CSE 168: Distributed Software Systems</label>
                    <label><input type="checkbox" value="13" name="CSE 170: Computer Graphics"> CSE 170: Computer Graphics</label>
                    <label><input type="checkbox" value="14" name="CSE 171: Programming Interactive 3D Graphics and Games"> CSE 171: Programming Interactive 3D Graphics and Games</label>
                    <label><input type="checkbox" value="21" name="CSE 173: Computational Cognitive Neuroscience"> CSE 173: Computational Cognitive Neuroscience</label>
                    <label><input type="checkbox" value="22" name="CSE 175: Introduction to Artifical Intelligence"> CSE 175: Introduction to Artifical Intelligence</label>
                    <label><input type="checkbox" value="15" name="CSE 176: Introduction to Machine Learning"> CSE 176: Introduction to Machine Learning</label>
                    <label><input type="checkbox" value="16" name="CSE 177: Database Systems Implementation"> CSE 177: Database Systems Implementation</label>
                    <label><input type="checkbox" value="23" name="CSE 178: Computer and Networks Security"> CSE 178: Computer and Networks Security</label>
                    <label><input type="checkbox" value="17" name="CSE 179: Introduction to Parallel Computing"> CSE 179: Introduction to Parallel Computing</label>
                    <label><input type="checkbox" value="18" name="CSE 180: Introduction to Robotics"> CSE 180: Introduction to Robotics</label>
                    <label><input type="checkbox" value="24" name="CSE 185: Introduction to Computer Vision"> CSE 185: Introduction to Computer Vision</label>
                <!-- Add more courses as needed -->
                </div>
            </div>  
            <div class="selected-courses" id="selected-courses">
                {% for courses in courseHistory %}
                <div class="added-course" id="added-course">{{ course.courseName }}</div>
                {% endfor %}
            </div>
            <div>
                Taken Courses:
                <ul>
                    {% for course in taken_courses %}
                        <li>{{ course.courseName }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="selection-container" id="selection-container">
            <h3>Current Academic Year</h3>
            <div class="dropdown">
                <p class="dropbtn" onclick="toggleDropdown()">Select Academic Year</p>
                <div class="dropdown-content" id="dropdown-content">
                    <a href="#" onclick="selectYear('1st Year - Freshman')">1st Year - Freshman</a>
                    <a href="#" onclick="selectYear('2nd Year - Sophomore')">2nd Year - Sophomore</a>
                    <a href="#" onclick="selectYear('3rd Year - Junior')">3rd Year - Junior</a>
                    <a href="#" onclick="selectYear('4th Year - Senior')">4th Year - Senior</a>
                    <a href="#" onclick="selectYear('5+ Years')">5+ Years</a>
                </div>
            </div>
            <div class="selected-year" id="selected-year">{{ academicYear }}</div>
        </div>
        <button class="save-btn" onclick="saveProfile()">Save</button>
    </div>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}